[user]
  name = aldenks
  email = aldenkeefesampson@gmail.com
  user = aldenks
[alias]
  s  = status
  d  = diff
  c  = commit
  l  = log
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[github]
  user = aldenks
[color]
  ui = true
